fastapi
uvicorn
celery
redis
streamlit
requests
python-multipart
networkx
rdkit
scipy
numpy>=2.0.0,<2.5.0
stmol
py3Dmol
ipython_genutils
networkx
vermouth==0.15.0
mdtraj==1.11.1.post2
plip
matplotlib
pandas
seaborn
openpyxl